* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
  background-color: #f7b916;
  color: #f7b916;
  letter-spacing: .3px;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #2c3353;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
